<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newGQapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
				<key>dateExpires</key>
				<string>2019/3/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DCPathButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DeviceUtil.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HYBLoopScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TYPagerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UITableView_FDTemplateLayoutCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>134F3870C50938C9ED4A18B57DE9054A6999E808</string>
						<key>dateExpires</key>
						<string>2019/3/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A4MC62Y5RA</string>
						<key>name</key>
						<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A4MC62Y5RA.com.Gunqiu.GQapp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A4MC62Y5RA</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>newGQapp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b0838fb7-1858-4aa2-b597-6bb29f8c9a57</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.Gunqiu.GQapp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A4MC62Y5RA</string>
				<key>name</key>
				<string>Shanghai Gunqiu Information Technology  Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
